<!DOCTYPE html>
<html
  th:fragment="baseParam (title, content)"
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  tailwind CSS 적용  -->
    <link
      rel="stylesheet"
      th:href="@{/css/output.css}"
      href="../static/css/output.css"
    />
    <title th:replace="${title}">레이아웃 타이틀</title>
  </head>
  <body class="mx-auto xl:max-w-6xl">
    <div class="px-4 md:px-10">
      <!--  공통 Header  -->
      <div th:replace="~{fragments/header :: header}"></div>

      <!--  메인 콘텐츠  -->
      <div th:replace="${content}">
        <p>레이아웃 콘텐츠</p>
      </div>
    </div>

    <!--  공통 Footer  -->
    <div th:replace="~{fragments/footer :: baseFooter('px-4 md:px-10')}"></div>

    <!--  ionicons 적용  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
