<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>


<body>
<header
        th:fragment="baseHeader"
        id="main-header"
        class="h-12 w-full md:flex md:h-16 md:flex-row md:items-center md:justify-between"
>
    <div
            id="header-left"
            class="relative flex h-full items-center md:basis-1/2 md:justify-start"
    >
        <h1
                id="logo"
                class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform md:static md:transform-none md:items-center"
        >
            <a th:href="@{/}" href="#">
                <img
                        th:src="@{/assets/logo.svg}"
                        src="../static/assets/logo.svg"
                        alt="Coward 로고"
                        class="h-5 md:h-6"
                />
            </a>
        </h1>

        <button
                id="header-button"
                class="flex items-center justify-center md:hidden"
                type="button"
                aria-label="메뉴 버튼"
        >
            <ion-icon name="menu-outline" class="text-2xl"></ion-icon>
        </button>
    </div>

    <div
            id="header-right"
            class="hidden md:flex md:basis-1/2 md:justify-between"
    >
        <a id="login-btn" href="#" class="text-base">로그인</a>
        <a id="join-btn" href="#" class="ml-3 text-base">회원가입</a>
    </div>
</header>
</body>
</html>
